services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - '8000:8000'
    volumes:
      - ./database:/app/database
    environment:
      - DATABASE_URL=sqlite:///database/database.db
    env_file:
      - .env

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    depends_on:
      - backend
    ports:
      - '8501:8501'
    volumes:
      - ./data:/app/data
    environment:
      - API_URL=http://backend:8000
      - DATA_PATH=/app/data
