services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file: .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - ./database:/app/database
    environment:
      # - DATABASE_URL=sqlite:///database/database.db
      - DATABASE_URL=${DATABASE_URL}
    env_file: .env

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    depends_on:
      - backend
    ports:
      - '8501:8501'
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
      - ./data:/app/data
    environment:
      - API_URL=http://backend:8000
      - DATA_PATH=/app/data

volumes:
  postgres_data:
