services:
  db:
    restart: always
    ports:
      - "5432:5432"

  backend:
    restart: always
    ports:
      - '8000:8000'

  frontend:
    restart: always
    ports:
      - '80:8501'
    environment:
      - API_URL=http://backend:8000
    env_file: .env


volumes:
  postgres_data:
