services:
  db:
    restart: always
    ports:
      - "5432:5432"

  backend:
    restart: always
    ports:
      - '8000:8000'

  frontend:
    restart: always
    ports:
      - '80:8501'
    environment:
      - API_URL=http://backend:8000
      - S3_ENDPOINT=${S3_ENDPOINT}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_BUCKET=${S3_BUCKET}
      - S3_REGION=${S3_REGION}
    env_file: .env


volumes:
  postgres_data:
