[MASTER]
ignore=.venv,.git,migrations

[MESSAGES CONTROL]
disable=W0511,W0603,W0621,W3101,C0411,W0233,W0231

[FORMAT]
max-line-length=100

[DESIGN]
max-args=8
max-locals=15
max-returns=6
max-branches=15
max-statements=50
max-parents=7
max-attributes=12
min-public-methods=2
max-public-methods=25

[TYPECHECK]
ignored-modules=
