name: Test shared

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - 'shared/**'

defaults:
  run:
    working-directory: ./shared

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v2
      with:
        version: "latest"
    
    - name: Install dependencies
      run: |
        sudo apt-get install poppler-utils
        cd ${{ matrix.module_name }}
        uv sync --frozen
    - name: Run tests
      run: uv run --frozen pytest tests
    - name: Run format
      run: uv run --frozen black --check src/scoreai tests
    - name: Run lint
      run: uv run --frozen pylint src/scoreai tests
    - name: Run mypy
      run: uv run --frozen mypy src/scoreai
