name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest


    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12"]
        code: ["backend", "frontend", "shared"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v2
      with:
        version: "latest"
    
    - name: Install dependencies
      run: |
        sudo apt-get install poppler-utils
        uv sync --frozen
    - name: Run tests
      run: uv run --frozen --project ${{ matrix.code }} --directory ${{ matrix.code }} pytest 
    - name: Run format
      run: uv run --frozen --project ${{ matrix.code }} black --check ${{ matrix.code }}
    - name: Run lint
      run: |
        if [ "${{ matrix.code }}" = "shared" ]; then
          uv run --frozen --project shared --directory shared pylint shared tests
        if [ "${{ matrix.code }}" = "frontend" ]; then
          uv run --frozen --project frontend --directory frontend pylint ui tests
        if [ "${{ matrix.code }}" = "backend" ]; then
          uv run --frozen --project backend --directory backend pylint app tests 
        fi
    - name: Run mypy
      run: uv run --frozen --project ${{ matrix.code }} mypy ${{ matrix.code }}
